* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(6, 0, 18, 0.95);
    overflow: hidden;
}

video {
    display: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
